// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.tree-view-frequent-menu {
    &-btn {
        color: @ui-site-color-1;
        background-color: @button-background-color;
        border-color: @button-border-color;
        margin-left: 10px;
        border-radius: @component-border-radius;
        padding: 0 5px;
        line-height: 100%;
    }
    &-btn:hover {
        background-color: @button-background-color-hover;
    }
    &-btn:selected {
        background-color: @button-background-color-selected;
    }
    &-menu-container {
        margin-left: 0 !important;
        left: 0 !important;
        background-color: #fff;
        width: 300px;
        height: 300px;

    }
}
